body {
    background-color:beige ;
    font-family:'Times New Roman', Times, serif;
}
h1 {

    text-align: center;
    color: blue;
}
h2{
    color: red;
    text-align: center;
}
.about {
    color:black;
    text-align: right;
}