body {
    background-color:blue ;
    font-family:'Times New Roman', Times, serif;
}
h1 {

    text-align: center;
    color: yellow;
}
h2{
    color: chocolate;
    text-align: center;
}
.about {
    color:purple;
    text-align: right;
}