body {
    background-color:beige ;
    font-family:'Times New Roman', Times, serif;
}
h1 {

    text-align: center;
    color: blue;
}
h2{
    color: red;
    text-align: center;
}
.about {
    color:black;
    text-align: right;
}

.projects { 
    display:flex; 
    flex-wrap:wrap}
.project
{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: red;
    border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}